* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
body {
    background-color: white ;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
    color: #162e3c;
    font-size: 1.6rem;
}
h1, h2, h3, h4, h5 {
    font-family: "Fraunces", serif;
    font-weight: bold;
}
button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
}
.btn {
    border-radius: 64px;
    background-color: #ddf0a7;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding-inline-start: 0;
}

.wrapper-out {
    width: 144rem;
    margin: 0 auto;
    position: relative;
}


.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 0;
    background-color: #DDF0A7;
    position: relative;
}
.top-header__adt {
    display: block;
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: left;
}
.top-header__close {
    display: block;
    position: absolute;
    right: 7.2rem;
    width: 3.2rem;
    height: 3.2rem;
    padding: 8.97px;
}


.header {
    display: flex;
    justify-content: space-between;
}
.header__navbar {
    display: flex;
    align-items: center;
}
.header__logo {
    display: block;
    margin: 2.2rem 58.7rem 2.2rem 8rem;
    width: 11.2rem;
    height: 2.8rem;
}
.header__menu {
    display: flex;
    justify-content: space-between;
}
.header__menu-item {
    padding: 0.8rem 1.6rem;
}
.header__menu-item:nth-child(4) {
    padding-right: 1.4rem;
}
.header__menu-link {
    color: #162e3c;
    font-size: 1.5rem;
    line-height: 1.6;
}
.header__menu-link:hover {
    text-decoration: underline;
}
.fs16 {
    font-size: 1.6rem;
    line-height: 1.5;
}
.header__actions {
    display: flex;
    height: 4.4rem;
}
.header__log {
    width: 9.5rem;
    margin: 0 0.6rem 0 0;
    padding: 0.8rem 2.2rem 1rem;
    border-radius: 64px;
    border: solid 2px #162e3c;
    background: none;
}
.header__try {
    width: 13.4rem;
    margin: 0 0 0 0.6rem;
    padding: 0.8rem 2.2rem 1rem;
    border-radius: 64px;
    border: solid 2px #162e3c;
    background: none;
}
.header__log:hover,
.header__try:hover {
    background-color: #162e3c;
    color: #fff;
}


.greeting {
    width: 144rem;
    padding: 9.5rem 33.6rem 10.4rem;
    background-color: #162e3c;
    text-align: center;
    position: relative;
}
.greeting__content {
    color: #fff;
}
.greeting__title {
    font-size: 5.6rem;
    line-height: 1.2;
    margin-bottom: 2.6rem;
    padding: 0.031rem 0;
}
.greeting__text {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 2.2rem;
    padding: 0rem 2.8rem;
}
.greeting__actions {
    margin-bottom: 2.4rem;
    padding: 1.6rem 24.3rem 0 24.4rem;
    font-size: 1.5rem;
    line-height: 1.6;
    display: flex;
    align-items: center;
}
.greeting__get,
.sales__get,
.features__get,
.points__get {
    line-height: 1.6;
    font-weight: bold;
    border: solid 2px #ddf0a7;
    color: #162e3c;
    padding: 1.2rem 2.6rem;
    margin: 0 3.2rem 0 0;
}
.greeting__try,
.sales__try,
.features__try,
.points__try {
    line-height: 1.07;
    font-weight: bold;
    background: none;
    color: #fff;
    margin: 0 0.8rem 0 0;
    position: relative;
}
.greeting__try::after,
.sales__try::after,
.features__try::after,
.points__try::after {
    content: '';
    background-image: url('Image/arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 0.1rem;
    left: 9rem;
}
.greeting__logos {
    padding: 3.2rem 6.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greeting__logos > img {
    margin-right: 3.2rem;
}
.greeting__logos > img:last-child {
    margin-right: 0;
}
.greeting__decor > img {
    display: block;
    position: absolute;
}
.greeting__decor > img:nth-child(1) {
    top: 10rem;
    left: 0;
}
.greeting__decor > img:nth-child(2) {
    top: 26rem;
    right: 0;
}
.greeting__decor > img:nth-child(3) {
    top: 51.8rem;
    left: 0;
}
.greeting__rectangle {
    padding: 16rem 72rem;
    background-color: #162e3c;
    position: absolute;
    top: 75.3rem;
    z-index: 1;
}


.wrapper-in {
    width: 128rem;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 8rem;
    z-index: 2;
}
.btn-video {
    font-weight: bold;
    padding: 1.4rem 4.59rem;
    position: absolute;
    top: 27.4rem;
    right: 54.3rem;
}


.sales {
    width: 128rem;
    margin: 76.8rem auto 12.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    position: relative;
}
.sales__photo {
    display: block;
}
.sales__text {
    display: block;
    position: relative;
    color: #162e3c;
    text-align: left;
}
.sales__text_color,
.points__text_color,
.pricing__text_color,
.blog__text_color {
    font-weight: bold;
    background-color: #ddf0a7;
    border-radius: 64px;
    width: 7.2rem;
    padding: 0.4rem 1.2rem;
    margin: 0 52.8rem 1.5rem 0;
}
.sales__text h3 {
    font-family: "Fraunces";
    font-weight: normal;
    font-size: 4rem;
    line-height: 1.2;
    margin: 1.5rem 13.9rem 2.7rem 0;
}
.sales__text_content {
    color: #49616e;
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 2.7rem 0.4rem 2.2rem 0;
}
.sales__actions {
    display: flex;
    font-size: 1.5rem;
}
.gg-light,
.sg-light,
.fg-light,
.pg-light {
    background: none;
    border-color: #162e3c;
    margin: 0 0 0 0;
    padding: 1.2rem 2.6rem;
}
.gt-light,
.st-light,
.ft-light,
.pt-light {
    background: none;
    color: #162e3c;
    margin: 1.8rem 2.4rem 1.8rem 1.6rem;
}
.gt-light::after,
.st-light::after,
.ft-light::after,
.pt-light::after {
    content: '';
    background-image: url('Image/arrow2.png');
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 0.1rem;
    left: 9rem;
}
.sales__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 43.2rem;
    left: 22.8rem;
    padding: 2.4rem;
    background-color: #ddf0a7;
    border-radius: 24px;
}
.sales__data {  
    display: block;
    width: 17.5rem;
    font-weight: bold;
    text-align: left;
    color: #162e3c;
    margin: 0 12.5rem 0 0;
}
.sales__rate {
    font-family: "Fraunces";
    font-size: 3.2rem;
    line-height: 1.3;
    display: block;
}
.sales__increase {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.5;
}
.sales__icon {
    display: block;
}
.sales__decor {
    display: block;
    position: absolute;
    top: 0;
    right: -12.8rem;
}


.features {
    display: block;
    background-color: #ddf0a7;
    border-radius: 48px;
    width: 128rem;
    padding: 12.7rem 6.4rem 12.8rem;
    margin: 0 auto 12.8rem;
    position: relative;
}
.features__title {
    font-size: 4rem;
    font-weight: normal;
    line-height: 1.2;
    width: 70.4rem;
    margin: 0 22.4rem 2.7rem;
    text-align: center;
}
.features__text {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.5;
    width: 74.4rem;
    margin: 0 20.4rem 6.2rem;
    text-align: center;
}
.features__info {
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    padding: 0;
    margin: 0 0 4.8rem;
}
.features__info img {
    display: block;
    margin: 0 auto 2.4rem;
}
.features__info h5 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    margin: 0 0 1.7rem;
}
.features__info p {
    line-height: 1.5;
    text-align: center;
}
.features__info div {
    background-color: #162e3c;
    color: #fff;
    border-radius: 24px;
}
.features__info1 {
    font-size: 1.5rem;
    width: 36.27rem;
    padding: 3.2rem 5.37rem 3.1rem 5.4rem;
}
.features__info2 {
    width: 36.23rem;
    padding: 3.2rem 4.1rem 3.1rem 4.23rem;
}
.features__info3 {
    width: 36.27rem;
    padding: 3.2rem 4.2rem 3.1rem 4.27rem;
}
.features__decor {
    display: block;
    position: absolute;
    top: 0;
    right: 3.2rem;
}
.features__actions {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
}

.points {
    width: 128rem;
    margin: 0 auto 12.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    position: relative;
}
.points__photo {
    display: block;
}
.points__text {
    display: block;
    position: relative;
    color: #162e3c;
    text-align: left;
}
.points__text_color {
    width: 8.8rem;
    margin: 0 0 1.5rem;
}
.points__text h3 {
    font-family: "Fraunces";
    font-weight: normal;
    font-size: 4rem;
    line-height: 1.2;
    margin: 1.5rem 13.9rem 2.7rem 0;
}
.points__text_content {
    color: #49616e;
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 0 2.6rem 3rem 0;
}
.points__info {
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
    padding: 0.8rem 0;
    margin: 0 0 2.4rem;
}
.points__info img {
    display: block;
    margin: 0 0 1.6rem;
}
.points__info h5 {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.4;
    text-align: left;
    margin: 0 0 1.7rem;
}
.points__info p {
    line-height: 1.5;
    text-align: left;
    color: #49616e;
}
.points__info1 {
    width: 28.8rem;
}
.points__info2 {
    width: 28.8rem;
}
.points__actions {
    display: flex;
    font-size: 1.5rem;
}
.points__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 4.8rem;
    right: 22.8rem;
    padding: 2.4rem;
    background-color: #ddf0a7;
    border-radius: 24px;
}
.points__data {  
    display: block;
    width: 24.5rem;
    font-weight: bold;
    text-align: left;
    color: #162e3c;
    margin: 0 5.5rem 0 0;
}
.points__rate {
    font-family: "Fraunces";
    font-size: 3.2rem;
    line-height: 1.3;
    display: block;
}
.points__increase {
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.5;
}
.points__icon {
    display: block;
}


.reviews {
    background-color: #162e3c;
    color: #fff;
    text-align: center;
    padding: 12.7rem 8rem 16.7rem;
    position: relative;
    margin: 0 0 12.8rem;
}
.reviews h2 {
    font-size: 4.8rem;
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 2.4rem;
}
.reviews p {
    font-size: 1.7rem;
    line-height: 1.59;
    margin: 0 0 8.9rem;
}
.reviews__cards {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 0 3.2rem;
    width: 128rem;
}
.reviews__cards img {
    display: block;
    width: 62.4rem;
    height: 25.6rem;
}
.review__1 {
    margin: 0 0 4.5rem;
}
.review__2 {
    margin: 1.2rem 0 6.4rem;
}
.review__3 {
    margin: 0 0 5.2rem 0;
    position: absolute;
    top: 62.6rem;
    left: 8rem;
}
.review__4 {
    margin: 0 65.6rem 6.8rem;
}
.review__5 {
    position: absolute;
    bottom: 21.4rem;
    left: 8rem;
    z-index: 1;
}
.review__6 {
    margin-left: 65.6rem;
}
.reviews__decor > img {
    display: block;
    position: absolute;
    z-index: 0;
}
.reviews__decor > img:nth-child(1) {
    bottom: 10rem;
    left: 0;
}
.reviews__decor > img:nth-child(2) {
    top: 0;
    right: 0;
}


.pricing {
    position: relative;
    margin: 0 auto 12.8rem;
}
.pricing__text_color {
    font-weight: normal;
    width: 7.7rem;
    margin: 0 auto 1.5rem;
}
.pricing__title {
    text-align: center;
}
.pricing h2 {
    font-size: 4.8rem;
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 2.4rem;
}
.pricing__text {
    font-size: 1.7rem;
    line-height: 1.59;
    margin: 0 0 8rem;
    color: #49616e;
}
.pricing__cards {
    margin: 0 auto 12.8rem;
    display: flex;
    justify-content: center;
    gap: 3.2rem;
    align-items: flex-end;
}
.pricing__cards1,
.pricing__cards2,
.pricing__cards3 {
    width: 40.5rem;
    padding: 3.2rem 3.17rem 3.2rem 3.2rem;
    border-radius: 32px;
    background-color: #162e3c;
    color: #fff;
}
.pricing__cards1-img {
    display: block;
    margin: 0 0 3.2rem 29.3rem;
}
.pricing__name {
    font-family: "Fraunces";
    font-size: 2rem;
    line-height: 1.4;
    margin: 0 0 0.7rem;
}
.pricing__cost {
    font-family: "Fraunces";
    font-size: 5.6rem;
    line-height: 1.2;
    margin: 0 0 0.8rem;
}
.pricing__cost > span {
    font-size: 3.2rem;
    line-height: 1.3;
}
.pricing__cost-year {
    line-height: 1.5;
    margin: 0 0 3.2rem;
}
hr {
    /* width: 341px; */
    height: 1px;
    margin: 0 0.03rem 3.2rem 0;
    background-color: #223e4e;
    border: none;
}
.hr-card_light {
    background-color: #d1e39e;
}
.pricing__set {
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0 0 1.6rem;
}
.pricing__items {
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 0.8rem 0;
    margin: 0 0 11rem;
}
.pricing__items_mb30 {
    margin: 0 0 3rem;
}
.pricing__items_mb134 {
    margin: 0 0 13.4rem;
}
.pricing__items > li {
    margin: 0 0 1.6rem;
    display: flex;
    gap: 1.6rem;
}
.pricing__items > li:last-child {
    margin: 0;
}
.pricing__items > img {
    display: inline-block;
}
.pricing__actions {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: bold;
    display: flex;
    /* align-items: center; */
}
.pricing__get,
.pricing__get_dark {
    border: solid 2px #ddf0a7;
    color: #162e3c;
    padding: 1.4rem 12.7rem;
}

.pricing__cards2 {
    padding: 3.2rem 3.17rem 3.2rem 3.2rem;
    background-color: #ddf0a7;
    color: #162e3c;
}
.pricing__get_dark {
    color: #fff;
    background-color: #162e3c;
    border: solid 2px #162e3c;
}
.pricing__decor {
    position: absolute;
    top: 3.2rem;
    right: 0;
}


.blog {
    margin: 0 auto 8rem;
}
.blog__text_color {
    font-weight: normal;
    width: 5.9rem;
    margin: 0 auto 1.5rem;
}
.blog__title {
    text-align: center;
}
.blog h2 {
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 2.4rem;
}
.blog__text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 0 0 8.1rem;
    color: #49616e;
}
.blog__cards {
    display: flex;
    justify-content: center;
    gap: 3.4rem;
    margin: 0 0 8rem;
}
.blog__cards1,
.blog__cards2,
.blog__cards3 {
    width: 40.33rem;
    text-align: center;
    height: 66.4rem;
}
.blog_cards-up {
    margin: 0;
}
.blog_cards-down {
    padding: 2.4rem;
    margin: 0;
    border-radius: 0 0 32px 32px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #e5e7eb;
}
.blog_cards-img {
    display: block;
}
.blog__read {
    margin: 0 0 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.blog__get {
    padding: 0.9rem 1.7rem;
    border-radius: 32px;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.62;
    color: #162e3c;
    background: none;
    border: solid 1px #e5e7eb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}
.blog__read-time {
    font-size: 1.4rem;
    line-height: 1.5;
}
.blog h4 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.4;
    margin: 0 0 0.5rem;
    color: #162e3c;
}
.blog__content {
    font-weight: normal;
    line-height: 1.5;
    margin: 0 0 2.3rem;
    color: #49616e;
}
.blog__content_mb56 {
    margin: 0 0 5.66rem;
}
.blog__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.blog__get-read {
    font-size: 1.5rem;
    line-height: 1.07;
    background: none;
    color: #162e3c;
}
.blog__all {
    display: block;
    width: 11.5rem;
    margin: 0 auto 12.8rem;
    padding: 1.4rem 2.6rem;
    border-radius: 64px;
    border: solid 2px #162e3c;
    background: none;
    font-weight: bold;
}


.form {
    width: 128rem;
    background-color: #ddf0a7;
    padding: 9.6rem 25.6rem;
    border-radius: 48px;
    margin: 0 auto;
    position: relative;
}
.form img {
    display: block;
    position: absolute;
    top: 0;
    right: 6.4rem;
}
.form h3 {
    font-size: 4rem;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 0 3.5rem 2.7rem;
}
.form__text {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    margin: 0 2.1rem 3rem;
}
.form__send {
    margin: 0 0 1.9rem;
}
.form__email {
    width: 36.8rem;
    height: 5.2rem;
    border-radius: 24px;
    padding: 1.2rem 18.4rem 1.3rem 4.2rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    color: #162e3c;
    font-size: 1.8rem;
    line-height: 1.5;
    border: none;
    background-color: #fff;
    margin: 0 1.6rem 0 12.8rem;
}
.form__subscribe {
    /* width: 36.8rem;
    height: 5.2rem; */
    border-radius: 64px;
    padding: 1.2rem 2rem 1.3rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.5;
    border: none;
    border: solid 2px #162e3c;
    background-color: #162e3c;
}
.form__footnote {
    font-size: 1.1rem;
    line-height: 1.64;
    margin: 0;
    text-align: center;
}